- if user_signed_in?

  h3 you have succesfully signed in
  p = link_to "Projects", '/projects',class: "btn btn-default"
- else
  div class="center jumbotron"
    |
    h1  Welcome to Desafio Inventos

    h2
     |
     ' This is the home page for the
     a href="http://www.railstutorial.org/" Ruby on Rails Tutorial
     '  sample application.
    p = link_to "Sign up now!", new_user_registration_path, :method => :get , class: "btn btn-lg btn-primary"
